---
keywords: static site, effable
title: Multi-Hbs effable generated static site
description: Static site made with effable and generated with effable-cli
priority: 0.6

collection: posts/*.md
type: 'post'
---
{{#>layouts.base}}
  <hr/>
  <br/>

  <img class="img-fluid" src="{{host.resxUrl}}{{metadata.hero}}" alt="">
    <div class="date-blog-up">
      <!-- <h1>{{metadata.title}}</h1> -->
      {{metadata.date}}
    </div>
  </div>
  <div class="inner-blog-detail details-page">
    {{{body}}}
  </div>
{{/layouts.base}}