---
keywords: static site, effable
title: Multi-Hbs effable generated static site
description: Static site made with effable and generated with effable-cli
priority: 0.6

collection:
  source: posts.*.tags.*
---
{{#>layouts.base}}
  <h2>filtered by tag: <i>{{content}}</i></h2>

  <br/>

  <section>
    {{#each (routes-each routes.blog "date")}}
      {{#if (contains tags ../content)}}
        <h3>
          <a href="{{location}}">{{title}}</a>
        </h3>
        <small>{{description}}</small>
      {{/if}}
    {{else}}
      <p>Non ci sono news recenti!</p>
    {{/each}}
  </section>
{{/layouts.base}}

{{#*inline "bottom_section"}}
  <br/>
  <br/>
  <h5>Bottom section nested inside blog post partial</h5>
  <br/>
{{/inline}}