---
keywords: static site, effable
title: Multi-Hbs effable generated static site
description: Static site made with effable and generated with effable-cli
priority: 0.8

page:
  name: Posts
  title: Posts Page
  order: 10
---
{{#>layouts.base}}
  <h2>Posts</h2>

  <br />

  <div class="row">
    <aside class="column" style="background-color:#aaa;color:#0F4C81">
      <h5>grouped by tags:</h5>
      <ul>
        {{#each (routes-binded-each routes.blog.tags)}}
          <li>
            <a class="nav-link" href="{{location}}">
              {{content}}
            </a>
            <small style="display: block;">{{title}}</small>
          </li>
        {{else}}
          <p>There ar no tags for now!</p>
        {{/each}}
      </ul>
    </aside>
    <div class="column" style="background-color:#bbb;">
      <ul>
        {{#each (routes-each routes.blog "date")}}
          <li>
            <a class="nav-link" href="{{location}}">
              {{title}}
            </a>
          </li>
        {{else}}
          <p>There ar no posts for now!</p>
        {{/each}}
      </ul>
    </div>
  </div>
{{/layouts.base}}

{{#*inline "bottom_section"}}
  <h2>Bottom section nested inside blog post partial</h2>
  <br/>
{{/inline}}