<!DOCTYPE html>
<html lang="en">
  <head>
    {{html-metatags}}
    
    {{> resx_header }}
  </head>

  <body>
    <header class="w3-container w3-theme" style="padding:64px 32px">
      <h1 class="w3-xxxlarge">{{data.otherdata.siteName}}</h1>

      <ul>
        {{#each (routes-flat routes 'page.order')}}
          {{#unless __isContent}}
          {{#if page.name}}
            <li class="nav-item {{route-isCurrent 'active' url}}">
              {{#if (route-isCurrent true url)}}
                <a class="nav-link">
                  <b>
                    {{page.name}}
                  </b>
                </a>
              {{else}}
                <a class="nav-link" href="{{../host.baseUrl}}{{url}}">
                  {{page.name}}
                </a>
              {{/if}}
            </li>
          {{/if}}
          {{/unless}}
        {{/each}}
      </ul>
      
      <h2>{{metadata.page.title}}</h2>
    </header>

    {{> @partial-block }}
    
    <section>
      {{#> bottom_section}}{{/bottom_section}}
    </section>
    
    {{> resx_footer }}
  </body>
</html>